@charset "utf-8";

/* 드래그 */
::selection {
  color: #000;
  background: #d6d6d6;
  text-shadow: none;
}

::-moz-selection {
  color: #000;
  background: #d6d6d6;
  text-shadow: none;
}

::-webkit-selection {
  color: #000;
  background: #d6d6d6;
  text-shadow: none;
}

/* 로고 인트로 */
body .loading-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  transition: all 0.7s ease;
}

body .loading-bar .logo-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}

body .loading-bar.off {
  visibility: hidden;
  opacity: 0;
}

body {
  overflow: hidden;
}

body .header,
body .main,
body .footer {
  opacity: 0;
  visibility: hidden;
}

/* 마우스 커서 */
.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  pointer-events: none;
  transform: translate(-100%, -100%);
  z-index: 999999;
  /* display: none; */
  transition: all 0.1s ease-out;
  pointer-events: none;
  opacity: 1;
}

.cursor.active {
  width: 100px;
  height: 100px;
  transform: translate(0, 0);
  transition: all .1s ease-out;
  opacity: 1;
}

.cursor.active::after {
  content: "more";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border-radius: 999px;
}

/* 헤더 영역 공통 스타일 */
[class*="word-split_"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.logo {
  display: block;
  width: 4.625rem;
  height: 100%;
  padding: 0 2.5rem;
  background: url("../image/logo.svg") no-repeat center / 5rem auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 959px) {
  .logo {
    width: 3.875rem;
    padding: 0 1.25rem;
    background-size: auto 1.625rem;
  }
}

.capital-letter {
  text-transform: capitalize;
}

.header {
  position: absolute;
  top: 0;
  z-index: 100000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5.375rem;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 959px) {
  .header {
    height: 4.25rem
  }
}

.gnb-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.gnb-nav {
  height: 100%;
  padding: 0 2.5rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 959px) {
  .gnb-nav {
    display: none;
  }
}

.gnb-nav .list {
  display: flex;
  align-items: center;
  height: 100%;
}

.gnb-nav .item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.gnb-nav .item .link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.5vw;
}

.gnb-nav .item .arrow-active {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: .3rem;
  margin-left: 1rem;
  background: url("../image/icon_arrow.svg") no-repeat center / 12px auto;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.gnb-nav .item .link:hover .arrow-active {
  transform: rotate(180deg);
}

.lnb-list {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  padding: 1rem 0 1.875rem;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: none;
}

.lnb-list.active {
  opacity: 0;
  display: block;
}

.lnb-item {
  padding: 0.625rem 1.875rem;
  cursor: pointer;
}

.lnb-link {
  white-space: nowrap;
  color: #666;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0 1px;
  transition: background-size 0.3s ease-out;
}

.lnb-item:hover .lnb-link {
  background-size: 100% 1px;
}

.button-search,
.button-close,
.button-menu {
  padding: 0 2.5rem;
  height: 100%;
  width: 154px;
}

.search-split_text {
  display: flex;
}

.button-search,
.button-close {
  color: #666;
  background-color: #fff;
  border-left: 1px solid #000;
}

.button-menu {
  display: none;
  border-left: 1px solid #000;
}

.form-search-area {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  visibility: hidden;
  overflow: hidden;
}

.form-search-area.active {
  display: flex;
  z-index: 1;
  visibility: visible;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 154px);
  height: 100%;
  border-left: 1px solid #000;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.5s ease;
  position: relative;
  z-index: -1;
}

.form-search-area.active form {
  transform: translateX(0);
}

form .form-input {
  padding: 10px 40px;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  width: calc(100% - 60px);
}

form .form-button {
  width: 60px;
  height: 100%;
  background: url("../image/icon_search.svg") no-repeat center / 24px auto #fff;
}

@media screen and (max-width: 959px) {

  .button-search,
  .button-menu {
    padding: 0 1.25rem;
  }

  .search-split_text {
    font-size: 1.125rem;
  }

  .button-search {
    border-left: 1px solid #000;
  }

  .button-menu {
    display: block;
  }
}

/* gnb 마우스 오버 텍스트 애니메이션 */
:root {
  --speed: 0.15s; /* 애니메이션 전환 속도 */
  --delay: 0.05s; /* 애니메이션 전환 속도 지연 */
  --effect: linear; /* 애니메이션 전환 대기 시간 */
}

.split_textArea {
  position: relative;
  display: block;
  overflow: hidden;
  height: 18px;
}

.word-split_text {
  display: flex;
}

span {
  line-height: 1;
}

.word-split_text [class^="t"],
.word-split_textAnimation [class^="t"] {
  transition: all var(--speed) var(--effect);
}

/* 딜레이 자동 증가 */
.word-split_text [class^="t"]:nth-child(n),
.word-split_textAnimation [class^="t"]:nth-child(n) {
  transition-delay: calc(0.01s + (0.01s * (var(--i, 0))));
}

/* hover 효과 */
a:hover .word-split_text [class^="t"],
a:hover .word-split_textAnimation [class^="t"] {
  transform: translateY(-100%);
}

button:hover .word-split_text [class^="t"],
button:hover .word-split_textAnimation [class^="t"] {
  transform: translateY(-100%);
}

/* nth-child로 --i 값 설정 */
.word-split_text .t01, .word-split_textAnimation .t01 {--i: 0;}
.word-split_text .t02, .word-split_textAnimation .t02 {--i: 1;}
.word-split_text .t03, .word-split_textAnimation .t03 {--i: 2;}
.word-split_text .t04, .word-split_textAnimation .t04 {--i: 3;}
.word-split_text .t05, .word-split_textAnimation .t05 {--i: 4;}
.word-split_text .t06, .word-split_textAnimation .t06 {--i: 5;}
.word-split_text .t07, .word-split_textAnimation .t07 {--i: 6;}
.word-split_text .t08, .word-split_textAnimation .t08 {--i: 7;}
.word-split_text .t09, .word-split_textAnimation .t09 {--i: 8;}
.word-split_text .t10, .word-split_textAnimation .t10 {--i: 9;}
.word-split_text .t11, .word-split_textAnimation .t11 {--i: 10;}
.word-split_text .t12, .word-split_textAnimation .t12 {--i: 11;}
.word-split_text .t13, .word-split_textAnimation .t13 {--i: 12;}
.word-split_text .t14, .word-split_textAnimation .t14 {--i: 13;}

/* section 제목 타이틀 */
.sec-title {
  font-size: 1.625rem;
  font-family: "CormorantInfant";
  font-weight: 500;
  color: #666;
}

.ff {
  font-family: "CormorantInfant";
}

/* 가로 텍스트 애니메이션 */
.ah-area {
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 14vw);
  z-index: 1;
}

.animation-horizontal {
  position: absolute;
  bottom: 255px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  /* margin-bottom: 200px; */
}

.animation-horizontal .wrap {
  display: flex;
  margin-left: -700px;
}

.animation-horizontal .wrap .text {
  width: 700px;
  padding: 40px;
  margin: 0;
  font-family: var(--font-Montserrat);
  font-size: 192px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  animation: animationHorizontal 7s linear infinite running;
}

@media screen and (max-width: 100rem) {
  .animation-horizontal {
    bottom: 300px;
  }

  .animation-horizontal .wrap .text {
    font-size: 100px;
  }
}

@keyframes animationHorizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* 푸터 영역 */
.footer {
  font-size: 14px;
  border-top: 1px solid #000;
}

.footer .inner .layout-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .nanro-info {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 60rem) {
  .footer .nanro-info {
    justify-content: space-between;
    width: 100%;
  }
}

.footer .nanro-info .copy-button {
  display: flex;
  padding: 20px 0 20px 40px;
}

.footer .nanro-info .copy-button::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background: url("../image/icon_arrow.svg") no-repeat center / 12px auto;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.footer .nanro-info .copy-button.active::after {
  transform: rotate(180deg);
}

.footer .nanro-info .powered {
  margin-left: 32px;
  color: #666;
}

@media screen and (max-width: 60rem) {
  .footer .nanro-info .powered {
    padding: 0 40px 0 0;
  }
}

.footer .website-link {
  color: #666;
}

.footer .website-link .text {
  box-shadow: inset 0 -1px #666;
  -webkit-box-shadow: inset 0 -1px #666;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0% 1px;
  -webkit-transition: background-size .5s, -webkit-box-shadow .1s;
  transition: background-size .5s, -webkit-box-shadow .1s ease-out;
  transition: box-shadow .1s, background-size .5s;
  transition: box-shadow .1s, background-size .5s, -webkit-box-shadow .1s;
}

.footer .website-link:hover .text {
  box-shadow: none;
  background-size: 100% 1px;
}

.footer .nav-area {
  display: flex;
}

@media screen and (max-width: 60rem) {
  .footer .nav-area {
    display: none;
  }
}

.footer .nav-list {
  display: flex;
}

.footer .nav-list a {
  display: block;
  padding: 20px;
}

.footer .nav-list .text {
  display: inline;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0 1px;
  transition: background-size 0.3s ease-out;
}

.footer .nav-list .link:hover .text {
  background-size: 100% 1px;
}

.footer .language-area {
  position: relative;
  display: flex;
  align-items: center;
}

.footer .language-button {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.footer .language-button .text {
  display: inline;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0 1px;
  transition: background-size 0.3s ease-out;
}

.footer .language-button:hover .text {
  background-size: 100% 1px;
}

.footer .language-button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../image/icon_internet.svg") no-repeat center / contain;
}

.footer .language-change {
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 1;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transition: opacity 0.3s ease;
  display: none;
  opacity: 0.6;
}

.footer .language-area.active .language-change {
  display: flex;
  opacity: 1;
}

.footer .language-change .language-button {
  padding: 28px 40px;
}

.footer .address-area {
  padding-bottom: 40px;
  padding-left: 40px;
  display: none;
}

@media screen and (max-width: 60rem) {
  .footer .address-area {
    padding-left: 40px;
  }
}

.footer .address-area.active {
  display: block;
}

.footer .address-area dl {
  font-style: normal;
}

/* dd 요소에서 .business-number를 제외한 모든 요소 */
.footer .address-area dd:not(.brand-name) {
  margin-left: 4px;
}

/* .address-area 요소에서 .dib, .business-number를 제외한 모든 요소 */
.footer .address-area :not(.dib):not(.business-number) {
  display: inline;
}

.footer .address-area .dib,
.footer .address-area .business-number {
  display: inline-block;
  margin-top: 10px;
}