@charset "utf-8";

.sec-visual {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.sec-visual .slider-visual,
.sec-visual .slider-list,
.sec-visual .slider-item {
  height: 100%;
}

.slider-list {
  display: flex;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-item .img-wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 14vw);
}

@media screen and (max-width: 1920px) {}

@media screen and (min-width: 1920px) {}

@media screen and (max-width: 1600px) {
  .slider-item .img-wrap {
    height: calc(100% - 245px);
  }
}

@media screen and (max-width: 959px) {
  .slider-item .img-wrap {
    height: calc(100% - 300px);
  }
}

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 719px) {}

.slider-item .img-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  opacity: .6;
}

.slider-item .img-wrap img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sec-visual .title-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - calc(100% - 14vw));
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.sec-visual .title-area .sec-desc {
  font-weight: 500;
}

.sec-visual .title-area .sec-title {
  margin-bottom: 2rem;
}

.sec-visual .title-area .sec-desc {
  /* font-size: 2.875rem; */
  font-size: calc(40vw * 0.06);
}

@media screen and (max-width: 1920px) {}

@media screen and (min-width: 1920px) {}

@media screen and (max-width: 1599px) {
  .sec-visual .title-area {
    height: calc(100% - calc(100% - 245px));
  }

  .sec-visual .title-area .sec-desc {
    font-size: 40px;
  }
}

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 719px) {}

@media screen and (max-width: 960px) {
  .sec-visual .title-area {
    height: 245px;
  }

  .sec-visual .title-area .sec-desc {
    font-size: 2.5rem;
  }
}

/* Who We Are 영역 */
.sec-word .sec-title {
  text-align: center;
  margin-bottom: 24px;
  opacity: 0;
  transition: opacity 0.5s ease 0.1s;
}

.sec-word.animation .sec-title {
  opacity: 1; /* 애니메이션 */
}

.sec-word .inner {
  /* width: 65vw; */
  margin: 0 auto;
  padding: 10rem 0;
  max-width: 80.5rem;
}

@media screen and (max-width: 71.875rem) {
  .sec-word .inner {
    max-width: 68.25rem;
  }
}

@media screen and (max-width: 720px) {
  .sec-word .inner {
    padding: 140px 20px 0;
  }
}

.sec-word .word-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

@media screen and (max-width: 720px) {
  .sec-word .word-area {
    justify-content: flex-start;
    font-size: 2.125rem;
  }
}

.sec-word .word-area span {
  overflow: hidden;
  position: relative;
  margin: 1rem;
  font-weight: 500;
}

.sec-word .word-area span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform: translateX(0%);
  background-color: #fff;
}

.sec-word .word-area span:nth-child(1):after {transition-delay: 0s;}
.sec-word .word-area span:nth-child(2):after {transition-delay: 0.1s;}
.sec-word .word-area span:nth-child(3):after {transition-delay: 0.2s;}
.sec-word .word-area span:nth-child(4):after {transition-delay: 0.3s;}
.sec-word .word-area span:nth-child(5):after {transition-delay: 0.4s;}
.sec-word .word-area span:nth-child(6):after {transition-delay: 0.5s;}
.sec-word .word-area span:nth-child(7):after {transition-delay: 0.6s;}
.sec-word .word-area span:nth-child(8):after {transition-delay: 0.7s;}
.sec-word .word-area span:nth-child(9):after {transition-delay: 0.8s;}
.sec-word .word-area span:nth-child(10):after {transition-delay: 0.9s;}

.sec-word.animation .word-area span::after {
  transform: translateX(100%);
}

@media screen and (max-width: 720px) {
  .sec-word .word-area span {
    margin: .3125rem .625rem;
  }
}

.sec-word .word-area .img-area {
  margin: 0;
}

.sec-word .word-area .img-wrap {
  display: block;
  width: 10vw;
  height: 5vw;
}

.sec-word .word-area .img-wrap {
  position: relative;
  /* display: flex; */
}

@media screen and (max-width: 720px) {
  .sec-word .word-area .img-wrap {
    width: 100px;
    height: 50px;
  }
}

.sec-word .word-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: left 0.5s ease;
}

.sec-word .link-more {
  display: flex;
  justify-content: center;
  margin-top: 3.125rem;
  opacity: 0;
  transition: opacity 0.5s ease 1s;
}

.sec-word.animation .link-more {
  opacity: 1; /* 애니메이션 */
}

.sec-word .link-more a {
  overflow: hidden;
  position: relative;
  width: 165px;
  padding: 18px 0px;
  border: 1px solid #000;
  text-align: center;
  font-size: 20px;
  border-radius: 999px;
  box-sizing: border-box;
}

.sec-word .link-more a:hover {
  color: #fff;
}

.sec-word .link-more a::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  background-color: #2a2a2a;
  border-radius: 60px;
  -webkit-transition: border-radius 1s cubic-bezier(0.4, 0, 0, 1), -webkit-transform .5s cubic-bezier(0.4, 0, 0, 1);
  transition: border-radius 1s cubic-bezier(0.4, 0, 0, 1), -webkit-transform .5s cubic-bezier(0.4, 0, 0, 1);
  transition: transform .5s cubic-bezier(0.4, 0, 0, 1), border-radius 1s cubic-bezier(0.4, 0, 0, 1);
  transition: transform .5s cubic-bezier(0.4, 0, 0, 1), border-radius 1s cubic-bezier(0.4, 0, 0, 1), -webkit-transform .5s cubic-bezier(0.4, 0, 0, 1);
}

.sec-word .link-more a:hover::after {
  -webkit-animation: link-more .5s cubic-bezier(0.4, 0, 0, 1);
  animation: link-more .5s cubic-bezier(0.4, 0, 0, 1);
  border-radius: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: 0s, 0s;
  transition-duration: 0s, 0s;
}

@keyframes link-more {
  0% {
    border-radius: 50%;
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }

  100% {
    border-radius: 0;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
}

@media screen and (max-width: 720px) {
  .sec-word .link-more a {
    width: 100%;
  }
}

/* What We Do 영역 */
.sec-list {
  padding-top: 160px;
}

.sec-list .inner {
  padding: 0 40px;
}

.sec-list .sec-title {
  margin-bottom: 25px;
}

.sec-list .accordion-list {
  position: relative;
}

.sec-list .accordion-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.sec-list .accordion-item {
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  opacity: 0.3;
}

.sec-list .accordion-item.animation {
  opacity: 1;
}

.sec-list .accordion-item .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0.1;
}

.sec-list .accordion-item .line.active {
  transform: translateX(-100%);
  transition: transform 0.8s ease 0.2s;
}

.sec-list .accordion-item.animation .line.active {
  opacity: 1;
  transform: translateX(0);
}

.sec-list .accordion-item .button-area {
  position: relative;
  width: 100%;
  padding: 3.125rem 0;
  text-align: left;
  font-size: 7.125rem;
}

@media screen and (max-width: 100rem) {
  .sec-list .accordion-item .button-area {
    font-size: 6.25rem;
  }
}

@media screen and (max-width: 60rem) {
  .sec-list .accordion-item .button-area {
    padding: 1.375rem 0;
    font-size: 4.375rem;
  }
}

@media screen and (max-width: 45rem) {
  .sec-list .accordion-item .button-area {
    padding: 1.375rem 0;
    font-size: 2.25rem;
  }
}

.sec-list .accordion-item .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 60px;
  height: 72px;
  background: url("../image/arrow.svg") no-repeat center / contain;
  transform: translateY(-50%) rotate(0);
  transition: transform 0.5s ease;
}

@media screen and (max-width: 60rem) {
  .sec-list .accordion-item .arrow {
    width: 40px;
    height: 52px;
  }
}

@media screen and (max-width: 45rem) {
  .sec-list .accordion-item .arrow {
    width: 20px;
    height: 32px;
  }
}

.sec-list .accordion-item.active .arrow {
  transform: translateY(-50%) rotate(180deg);
}

.sec-list .contents-area {
  visibility: hidden;
  height: 0;
  transition: all 0.5s ease;
}

.sec-list .contents-area .contents-detail {
  display: flex;
  align-items: center;
  padding-bottom: 3.125rem;
}

.sec-list .contents-area .img-wrap {
  width: 304px;
  height: 203px;
}

.sec-list .contents-area img {
  width: 100%;
}

.sec-list .contents-area .text-area {
  padding-left: 2.5rem;
}

@media screen and (max-width: 60rem) {
  .sec-list .contents-area .contents-detail {
    display: block;
  }

  .sec-list .contents-area .img-wrap {
    width: 100%;
    height: auto;
  }

  .sec-list .contents-area .text-area {
    padding: 1.875rem 0 0 0;
  }
}

.sec-list .contents-area .title {
  font-size: 2rem;
  font-weight: 400;
}

.sec-list .contents-area .desc {
  padding: 1.75rem 0;
  font-size: 1.25rem;
}

.sec-list .contents-area .link-more {
  font-size: 1.25rem;
  box-shadow: inset 0 -1px #666;
  -webkit-box-shadow: inset 0 -1px #666;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0% 1px;
  transition: background-size .5s, -webkit-box-shadow .1s ease-out;
  transition: box-shadow .1s, background-size .5s;
  transition: box-shadow .1s, background-size .5s, -webkit-box-shadow .1s;
  -webkit-transition: background-size .5s, -webkit-box-shadow .1s;
}

.sec-list .contents-area .link-more:hover {
  box-shadow: none;
  background-size: 100% 1px;
}

/* NANRO in Press 영역 */
.sec-post {
  padding-top: 160px;
}

.sec-post .inner {
  padding: 0 40px;
}

.sec-post .inner .sec-title {
  margin-bottom: 25px;
}

.sec-post .post-list {
  display: flex;
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
  /* transform: translateX(-40px); */
  /* width: calc(100% + 80px); */
}

@media screen and (max-width: 60rem) {
  .sec-post .post-list {
    display: block;
  }
}

.sec-post .post-list::before {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  height: 1px;
  transform: translateX(40px);
  background-color: #000;
}

.sec-post .post-item {
  position: relative;
  width: calc(100% / 3);
  padding: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 60rem) {
  .sec-post .post-item {
    width: calc(100% / 1);
  }
}

.sec-post .post-item:last-child .line {
  display: none;
}

.sec-post .post-item .line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}

@media screen and (max-width: 60rem) {
  .sec-post .post-item .line {
    top: auto;
    right: 0;
    bottom: 0;
    width: calc(100% - 80px);
    height: 1px;
    transform: translateX(-40px);
  }
}

.sec-post .post-item .link {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.sec-post .post-item.animation .link {
  opacity: 1;
}

.sec-post .post-item img {
  width: 100%;
}

.sec-post .post-item .desc-wrap {
  display: -webkit-box;
  overflow: hidden;
  height: 86px;
  margin: 30px 0 80px;
  background: #fff;
  font-size: 2rem;
  line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 1.35;
}

.sec-post .post-item .desc {
  display: inline;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 0 2px;
  transition: background-size 0.3s ease-out;
}

.sec-post .link:hover .desc {
  background-size: 100% 2px;
}

.sec-post .post-item dl {
  display: flex;
  color: #666;
  font-size: 1.125rem;
}

.sec-post .post-item .name {
  position: relative;
  padding-left: 16px;
}

.sec-post .post-item .name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 2px;
  height: 2px;
  transform: translateX(-50%);
  background-color: #666;
  border-radius: 999px;
}